---
import { Image } from "@astrojs/image/components";

import { experiences, recentProjects } from "../data";
import profile from "../images/profile.png";
import "../styles/base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#f1f5f9"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#0f172a"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="The personal website of Tyson Louth, a software developer from Orillia, Ontario, Canada."
    />
    <title>Tyson Louth | Software Developer</title>
  </head>
  <body
    class="bg-slate-100 dark:bg-slate-900 dark:text-gray-100 p-4 md:p-8 font-sans antialiased"
  >
    <header>
      <h1 class="sr-only">Tyson Louth | Software Developer</h1>
    </header>
    <section>
      <h2 class="heading">Profile</h2>
      <div class="block sm:flex items-center gap-3">
        <Image
          src={profile}
          alt="Tyson Louth profile image."
          class="w-16 h-16 mb-4 sm:mb-0 rounded-sm"
        />
        <div class="flex-auto">
          <div class="mb-1 leading-tight">
            <h3 class="heading-2">Tyson Louth</h3>
            <p class="text-secondary text-sm">Software Developer</p>
          </div>
          <div class="flex items-center gap-4 text-sm">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/tlouth19"
              class="underline"
            >
              Github
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.linkedin.com/in/tyson-louth-816b6aa9"
              class="underline"
            >
              LinkedIn
            </a>
            <a href="mailto:tysonlouth@gmail.com" class="underline"> Email</a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h2 class="heading">Experience</h2>
      {
        experiences.map((experience) => (
          <div class="mb-8">
            {experience.roles.length > 1 && (
              <div>
                <h3 class="heading-2 font-semibold">{experience.company}</h3>
                <p class="text-sm mb-2 text-secondary">{experience.location}</p>
                <ul class="list-none pl-4">
                  {experience.roles.map((role) => (
                    <li class="mb-2 relative before:hidden first-of-type:before:block before:absolute before:top-5 before:-bottom-3 before:-left-[14.5px] before:rounded-sm before:w-[1px] before:bg-gray-600 before:dark:bg-slate-500">
                      <div class="font-semibold relative before:absolute before:top-1/2 before:-translate-y-1/2 before:-left-4 before:h-1 before:w-1 before:rounded-sm before:bg-gray-600 before:dark:bg-slate-500">
                        {role.title}
                      </div>
                      <div class="text-sm text-secondary">{role.date}</div>
                    </li>
                  ))}
                </ul>
              </div>
            )}
            {experience.roles.length === 1 && (
              <div>
                <h3 class="heading-2 font-semibold">
                  {experience.company} - {experience.roles[0].title}
                </h3>
                <p class="text-sm mb-2 text-secondary">
                  {experience.location} &bull; {experience.roles[0].date}
                </p>
              </div>
            )}
          </div>
        ))
      }
    </section>
    <section>
      <h2 class="heading">Education</h2>
      <div>
        <h3 class="heading-2 font-semibold">
          Pfeiffer University - B.S. Computer Information Systems
        </h3>
        <p class="text-sm mb-2 text-secondary">
          Misenheimer, North Carolina &bull; August 2009 to May 2013
        </p>
      </div>
    </section>
    <section>
      <h2 class="heading">Awards</h2>
      <ul class="list-disc pl-4">
        <li>
          Created and implemented an{" "}
          <a
            href="https://patents.google.com/patent/US10148388B1/en?inventor=tyson+louth&oq=tyson+louth"
            class="underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            anti-piracy patent</a
          > to protect filmmakers
        </li>
      </ul>
    </section>
    <footer class="text-center">
      <small
        >Built with <a
          href="https://astro.build/"
          target="_blank"
          rel="noopener noreferrer"
          class="underline">Astro</a
        > 🔥</small
      >
    </footer>
  </body>
</html>
